<div class="continer-fluid">
  <div class="row bg-light text-dark border">
    <div class="col-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="estadosDropDown" ngbDropdownToggle>
          <fa name="cog"></fa>
        </button>
        <div ngbDropdownMenu aria-labelledby="estadosDropDown">
          <button class="btn btn-light dropdown-item" (click)="setColor('green');">Online</button>
          <button class="btn btn-light dropdown-item" (click)="setColor('gray');">Offline</button>
          <button class="btn btn-light dropdown-item" (click)="setColor('red');">Busy</button>
        </div>
        <span [ngStyle]="{'background-color':currentColor}" class="dot"></span>
      </div>
    </div>

    <div class="col-5 mx-auto">
      <h3 class="_1tqi">Messenger</h3>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-secondary mr-2 pull-right">
        <fa name="far fa-edit"></fa>
      </button>
    </div>
    <div class="container">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <fa name="fas fa-search"></fa>
          </span>
        </div>
        <input type="text" class="form-control" 
          aria-label="Search" 
          aria-describedby="inputGroup-sizing-sm" 
          [(ngModel)]="searchConversaton"
          (ngModelChange)="filterConversations($event)"/>
      </div>
    </div>
  </div>
</div>
<app-conversations [conversaciones]="conversaciones" [buscar]='contacto'></app-conversations>
