<div class="container">
    <div class="row mt-2">
        <div id="foto_contacto" class="col-3">
            <img src="{{persona.fotoPerfil}}" alt="foto de perfil" style="max-width: 50px; border-radius: 50%;">
        </div>
        <div id="status_contacto" class="col-7">
            <a href="#" class="facebook-text contact-name">{{persona.nombre}}</a>
            <p *ngIf="persona.activo; else inactivo" class="text-success contact-name">
                <span class="badge badge-success">Activo</span>
            </p>
            <ng-template #inactivo>
                <p class="text-secondary contact-name">
                    <span class="badge badge-secondary">Inactivo</span>
                </p>
            </ng-template>
        </div>
        <div class="col-2">
            <a href="#">
                <fa name="fas fa-cog mt-3" class="mr-3 h5 facebook-text"></fa>
            </a>
        </div>
    </div>

    <hr>

    <div class="btn list-group-item-action pt-2" data-toggle="collapse" href="#options" aria-expanded="true" aria-controls="options">
        <h6 class="text-secondary">Opciones</h6>
    </div>
    <div class="collapse show ml-3" id="options">
        <div class="pb-2">
            <fa name="fas fa-search" class="mr-3 h5 facebook-text"></fa>
            <label class="lbl-details">Buscar en la conversación</label>
        </div>

        <div class="pb-2">
            <fa name="far fa-edit" class="mr-3 h5 facebook-text"></fa>
            <label class="lbl-details">Editar Apodos</label>
        </div>

        <div class="pb-2">
            <fa name="paint-brush" class="mr-3 h5 facebook-text"></fa>
            <label class="lbl-details">Cambiar color</label>
        </div>

        <div class="pb-2">
            <fa name="far fa-thumbs-up" class="mr-3 h5 facebook-text"></fa>
            <label class="lbl-details"> Cambiar Emoji</label>
        </div>
        <div class="pb-2">
            <fa name="far fa-bell" class="mr-3 h5 facebook-text"></fa>
            <label class="lbl-details">Notificaciones</label>
        </div>
    </div>

    <hr>

    <div class="btn list-group-item-action pt-2" data-toggle="collapse" href="#archivos" aria-expanded="true" aria-controls="archivos">
        <h6 class="text-secondary">Archivos compartidos</h6>
    </div>
    <div class="collapse show ml-3" id="archivos">
        <ul class="list-group list-group-flush archivos-compartidos">
            <a *ngFor="let link of persona.archivos" class="list-group-item-action facebook-text mb-1" href="#">
                <fa name="{{link.icono}}" class="mr-2 h5"></fa>
                {{link.nombre}}</a>
        </ul>
    </div>

    <hr>

    <div class="btn list-group-item-action pt-2" data-toggle="collapse" href="#fotos" aria-expanded="true" aria-controls="fotos">
        <h6 class="text-secondary">Fotos compartidas</h6>
    </div>
    <div class="collapse show row" id="fotos">
        <div *ngFor="let foto of persona.fotos" class="col-4">
            <a href="#">
                <img src="{{foto}}" alt="{{fot}}" class="img-thumbnail">
            </a>
        </div>
    </div>
</div>