.contact-name{
    font-size: 12px;
}

.status{
    font-size: 10px;
}
.lbl-details{
    font-size: 12px;
}
hr{
    margin: 1px 0;    
}
.archivos-compartidos li{
    font-size: 12px;
    
}
.full{
    min-height: 100%;
}

.text-facebook{
    color: #05728f;
}