<div class="container-fuid border full h-100">

  <div class="center-block border-bottom">
    <h5 class="user-name text-center">~ {{nombre}} ~</h5>
    <h6 class="header-msn text-center">Messenger</h6>
  </div>

  <div class="row max-largo">
    <div class="col-9 border-right mt-3">
      <div class="h90">
        <div class="container-fluid">
          
          <!-- Div para mensaje enviado -->
          <div class="col-12 clearfix mt-1" *ngFor="let m of messagesService.getMessages()">
            <p class="float-right sent_msg" placement="left" ngbTooltip="13:33am">
              {{ m.message }}
            </p>
          </div>
          <!-- Div para mensaje entrante -->
          <div class="col-12 clearfix mt-1">
            <img class="float-left img_rec" src="https://picsum.photos/200/200/?random" alt="">
            <p class="float-left received_msg" placement="right" ngbTooltip="13:33am">
              Lorem izq
            </p>
          </div>
          
        </div>
      </div>
      <hr>

      <div class="form-group form-inline m-2">
        <input type="text" class="form-control nine" placeholder="Ingresa Mensaje" [(ngModel)]="message" (keyup.enter)="sendMessage()">
        <div class="mx-auto">
          <fa name="far fa-thumbs-up" class="h5 text-primary"></fa>
        </div>
      </div>
    </div>

    <div class="col-3 full">
      <app-chat-detail></app-chat-detail>
    </div>
  </div>
</div>