<div class="container-flex border">

  <div class="center-block border-bottom">
    <h5 class="user-name float-center">~ Usuario ~</h5>
    <h6 class="header-msn">Messenger</h6>
  </div>

  <div class="row">
    <div class="col-9 border-right">

      <div class="mesgs">
        <div class="msg-history">

          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Lorem ipsum dolor sit amet </p>
              <span class="time_date">12:36 PM | </span>
            </div>
          </div>

          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Lorem ipsum dolor sit amet </p>
              <span class="time_date">12:36 PM | </span>
            </div>
          </div>

          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Lorem ipsum dolor sit amet </p>
              <span class="time_date">12:36 PM | </span>
            </div>
          </div>

          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Lorem ipsum dolor sit amet </p>
              <span class="time_date">12:36 PM | </span>
            </div>
          </div>

        </div>
      </div>
      <hr>

      <div class="form-group form-inline">
        <input type="text" class="form-control w-75" placeholder="Ingresa Mensaje">
        <button class="btn btn-primary form-inline w-25" (click)="sendMsg()">Enviar</button>
      </div>
    </div>

    <div class="col-3">
      <app-chat-detail></app-chat-detail>
    </div>
  </div>
</div>